
# Ignorer les caches Python
backend/__pycache__/
#rag/__pycache__/
__pycache__/
*.pyc

# Ignorer les fichiers sensibles
.env

# Ignorer le dossier rag et certains fichiers à l'intérieur
rag/__pycache__/
rag/data/
rag/chroma/

